$sun_color: orange;
$sun_size:100px;
$beam_h: 3px;
$beam_w:140px;
$sun_spin_speed: 15s;
$sky_background: linear-gradient(0deg, rgba(148, 187, 233, 1) 20%, rgba(238, 174, 202, 1) 100%);
$sky_background_night: linear-gradient(184deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 59%, rgba(117, 0, 255, 1) 100%);
$cloud_height:100px;
$cloud_width: 300px;
$cloud_color:white;
$cloud_speed:40s;
$grass_color: green;
$grass_color_night: linear-gradient(184deg, rgba(13, 75, 0, 1) 0%, rgba(103, 144, 95, 1) 59%, rgba(145, 145, 145, 1) 100%);
$house_width:200px;
$house_height:200px;
$house_color: antiquewhite;
$house_color_night: #555;
$roof_color: #f00;
$roof_size: 100px;
$window_size: 60px;
$window_color: #333;
$window_color_night: yellow;
$door_width: $window_size;
$door_height: 80px;
$door_color: #555;
$door_color_night: #888;
$tree_width:80px;
$tree_color:brown;
$moon_size: 150px;
$moon_color: white;